<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
  <!--Main menu starts here-->
    {{>navbar}}
    <!--Main header starts here-->
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <!-- left side div -->
              <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="/images/img1.svg" alt="img" class="img-fluid">
                </figure>
              </div>
              
              <!-- right side div -->
              <div class="col-md-6 col-12 main_header_left">
                <p>Welcome to my Express Weather app</p>
                <h1>this is me as  <span class="text_clr">Nerd</span> in Web-development!</h1>
                <a href="/weather"><button>Check weather</button></a>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- footer -->
    {{>footer}}
</body>
</html>